.Formulario {
  color: brown;
}

.Container {
  margin: auto;
}

.formulario-form {
  margin-bottom: 20px;
}

.formulario-form-group {
  margin-bottom: 10px;
  width: 100%;
  margin: auto;
}

.formulario-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.formulario-button {
  margin-top: 1rem;
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 40%;
}

.formulario-product-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: auto;
  margin-bottom: 4rem;
}

.formulario-product-item {
  margin-bottom: 10px;
  margin: auto;
}

.formulario-update-button {
  margin-right: 5px;
  margin-right: 5px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario-delete-button {
  margin-right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
}

td {
  padding: 8px;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
}

tr:hover td {
  background: #d0dafd;
  color: #339;
}
